@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@500;600&display=swap');
.main_container{
    background-color: #003145;
    height: 561px;
}
.main_holder{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid white; */
    /* margin-left: 200px;
    margin-right: 200px; */
}
.left_box{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 200px;

}
.left_divider{
    border: 9px solid #FFCE5C;
    height: 115px;
    margin-right: 52px;
    margin-top:-150px;
}
.content_box{
    /* border: 1px solid white; */
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    width: 643px;
    color: #ffffff;
    /* border: 1px solid white; */
}
.para{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ECECEC;
    width: 531px;
    line-height: 28px;
    /* border: 1px solid white; */
    margin-bottom: 37px;
    margin-top: -10px;
}
.btn{
    background-color: #ffffff;
    color: #003145;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}
.right_box{
    /* border: 1px solid white; */
    margin-right: 200px;
}
.right_box_img{
 transform: rotate(21deg) scale(.6);
}

.lower_container{
    background-color: #002A3B;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.group1{
    padding: 10px;
    /* border: 2px solid white; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
/* .group_img{
    border: 1px solid white;
} */
.group_text{
    /* border: 1px solid white; */
    margin-left: 22px;
}
.group_text_heading{
    color: #ffffff;
    font-size: 24px;
    line-height: 1px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.group_text_para{
    color: #ffffff;
    font-size: 16px;
    line-height: 1px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
.holder{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* border: 2px solid white; */
    margin-left: 200px;
    margin-right: 200px;
}
.divider{
    border-left: 1px solid #C4C4C4;
    height: 38px;
    
}

